<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese</title>
    <link href="/static/chess.css" rel="stylesheet">
</head>

<!-- onload="Timer()" -->
<body>
    <!--
    <div class="time">
        <h2>
            <span>Time:</span>
            <span id="seconds"></span>
        </h2>
    </div>
    -->
    <div>
        <h1 id="show-turn"></h1>
    </div>

 
    <table class="board">
        <tbody>
            <tr>
                <td id="81" class="white box"></td>
                <td id="82" class="black box"></td>
                <td id="83" class="white box"></td>
                <td id="84" class="black box"></td>
                <td id="85" class="white box"></td>
                <td id="86" class="black box"></td>
                <td id="87" class="white box"></td>
                <td id="88" class="black box"></td>
            </tr>
            <tr>
                <td id="71" class="black box"></td>
                <td id="72" class="white box"></td>
                <td id="73" class="black box"></td>
                <td id="74" class="white box"></td>
                <td id="75" class="black box"></td>
                <td id="76" class="white box"></td>
                <td id="77" class="black box"></td>
                <td id="78" class="white box"></td>
            </tr>
            <tr>
                <td id="61" class="white box"></td>
                <td id="62" class="black box"></td>
                <td id="63" class="white box"></td>
                <td id="64" class="black box"></td>
                <td id="65" class="white box"></td>
                <td id="66" class="black box"></td>
                <td id="67" class="white box"></td>
                <td id="68" class="black box"></td>
            </tr>
            <tr>
                <td id="51" class="black box"></td>
                <td id="52" class="white box"></td>
                <td id="53" class="black box"></td>
                <td id="54" class="white box"></td>
                <td id="55" class="black box"></td>
                <td id="56" class="white box"></td>
                <td id="57" class="black box"></td>
                <td id="58" class="white box"></td>
            </tr>
            <tr>
                <td id="41" class="white box"></td>
                <td id="42" class="black box"></td>
                <td id="43" class="white box"></td>
                <td id="44" class="black box"></td>
                <td id="45" class="white box"></td>
                <td id="46" class="black box"></td>
                <td id="47" class="white box"></td>
                <td id="48" class="black box"></td>
            </tr>
            <tr>
                <td id="31" class="black box"></td>
                <td id="32" class="white box"></td>
                <td id="33" class="black box"></td>
                <td id="34" class="white box"></td>
                <td id="35" class="black box"></td>
                <td id="36" class="white box"></td>
                <td id="37" class="black box"></td>
                <td id="38" class="white box"></td>
            </tr>
            <tr>
                <td id="21" class="white box"></td>
                <td id="22" class="black box"></td>
                <td id="23" class="white box"></td>
                <td id="24" class="black box"></td>
                <td id="25" class="white box"></td>
                <td id="26" class="black box"></td>
                <td id="27" class="white box"></td>
                <td id="28" class="black box"></td>
            </tr>
            <tr>
                <td id="11" class="black box"></td>
                <td id="12" class="white box"></td>
                <td id="13" class="black box"></td>
                <td id="14" class="white box"></td>
                <td id="15" class="black box"></td>
                <td id="16" class="white box"></td>
                <td id="17" class="black box"></td>
                <td id="18" class="white box"></td>
            </tr>
        </tbody>    
    </table>

    <div class="hello">
        <td id="10"></td>
        <td id="19"></td>
        <td id="20"></td>
        <td id="29"></td>
        <td id="30"></td>
        <td id="39"></td>
        <td id="40"></td>
        <td id="49"></td>
        <td id="50"></td>
        <td id="59"></td>
        <td id="60"></td>
        <td id="69"></td>
        <td id="70"></td>
        <td id="79"></td>
        <td id="80"></td>
        <td id="89"></td>
    </div>

    <script src="/static/chess.js"></script>
</body>

</html>