<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese</title>
    <link href="/static/chess.css" rel="stylesheet">
</head>

<!-- onload="Timer()" -->
<body>
    <!--
    <div class="time">
        <h2>
            <span>Time:</span>
            <span id="seconds"></span>
        </h2>
    </div>
    -->
    <div class="flex">
        <h1 id="turn">Turn: </h1>
        <h1 id="show-turn"></h1>
    </div>
    <h1 id="show-winner"></h1>

 
    <table class="board">
        <tbody>
            <tr>
                <td id="c00" class="white box"></td>
                <td id="c01" class="black box"></td>
                <td id="c02" class="white box"></td>
                <td id="c03" class="black box"></td>
                <td id="c04" class="white box"></td>
                <td id="c05" class="black box"></td>
                <td id="c06" class="white box"></td>
                <td id="c07" class="black box"></td>
            </tr>
            <tr>
                <td id="c10" class="black box"></td>
                <td id="c11" class="white box"></td>
                <td id="c12" class="black box"></td>
                <td id="c13" class="white box"></td>
                <td id="c14" class="black box"></td>
                <td id="c15" class="white box"></td>
                <td id="c16" class="black box"></td>
                <td id="c17" class="white box"></td>
            </tr>
            <tr>
                <td id="c20" class="white box"></td>
                <td id="c21" class="black box"></td>
                <td id="c22" class="white box"></td>
                <td id="c23" class="black box"></td>
                <td id="c24" class="white box"></td>
                <td id="c25" class="black box"></td>
                <td id="c26" class="white box"></td>
                <td id="c27" class="black box"></td>
            </tr>
            <tr>
                <td id="c30" class="black box"></td>
                <td id="c31" class="white box"></td>
                <td id="c32" class="black box"></td>
                <td id="c33" class="white box"></td>
                <td id="c34" class="black box"></td>
                <td id="c35" class="white box"></td>
                <td id="c36" class="black box"></td>
                <td id="c37" class="white box"></td>
            </tr>
            <tr>
                <td id="c40" class="white box"></td>
                <td id="c41" class="black box"></td>
                <td id="c42" class="white box"></td>
                <td id="c43" class="black box"></td>
                <td id="c44" class="white box"></td>
                <td id="c45" class="black box"></td>
                <td id="c46" class="white box"></td>
                <td id="c47" class="black box"></td>
            </tr>
            <tr>
                <td id="c50" class="black box"></td>
                <td id="c51" class="white box"></td>
                <td id="c52" class="black box"></td>
                <td id="c53" class="white box"></td>
                <td id="c54" class="black box"></td>
                <td id="c55" class="white box"></td>
                <td id="c56" class="black box"></td>
                <td id="c57" class="white box"></td>
            </tr>
            <tr>
                <td id="c60" class="white box"></td>
                <td id="c61" class="black box"></td>
                <td id="c62" class="white box"></td>
                <td id="c63" class="black box"></td>
                <td id="c64" class="white box"></td>
                <td id="c65" class="black box"></td>
                <td id="c66" class="white box"></td>
                <td id="c67" class="black box"></td>
            </tr>
            <tr>
                <td id="c70" class="black box"></td>
                <td id="c71" class="white box"></td>
                <td id="c72" class="black box"></td>
                <td id="c73" class="white box"></td>
                <td id="c74" class="black box"></td>
                <td id="c75" class="white box"></td>
                <td id="c76" class="black box"></td>
                <td id="c77" class="white box"></td>
            </tr>
        </tbody>    
    </table>

    <div class="hello">
        <td id="10"></td>
        <td id="19"></td>
        <td id="20"></td>
        <td id="29"></td>
        <td id="30"></td>
        <td id="39"></td>
        <td id="40"></td>
        <td id="49"></td>
        <td id="50"></td>
        <td id="59"></td>
        <td id="60"></td>
        <td id="69"></td>
        <td id="70"></td>
        <td id="79"></td>
        <td id="80"></td>
        <td id="89"></td>
    </div>

    <script src="/static/chess.js"></script>
</body>

</html>