<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess but better</title>
    <link href="/static/chess.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form action="/" method="post" class="input">
            <div>
                {% for color in color %}
                <input name="color" type="radio" value="{{ color }}"> {{ color }}
                {% endfor %}
            </div>
            <input class="name" autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            <button class="sub" type="submit">Play</button>
        </form>
    </div>

</body>

</html>